Initialize Repository
Create a new GitHub repo named climate-challenge-week0.
Clone it locally and set up a Python virtual environment (venv or conda).
Branching & Commits
Create a branch called setup-task.
Commit at least 3 times with messages  following Conventional Commits conventions. For example:
"init: add .gitignore"
"chore: venv setup"
"ci: add GitHub Actions workflow"
Your branch must include:
.gitignore (include data/ and any .csv / .ipynb_checkpoints/)
requirements.txt
GitHub Actions workflow (.github/workflows/ci.yml) that runs pip install -r requirements.txt
